.collapse-icon {
  cursor: pointer;
  font-family: monospace;
  position: absolute;
  left: -30px;
}

.relative {
  position: relative;
}

.anchor, .anchor-with-no-collapse {
  position: absolute;
  font-family: monospace;
  color: white
}

.anchor:hover, .anchor-with-no-collapse:hover {
  color: black;
}

.anchor {
  left: -45px;
}

.anchor-with-no-collapse {
  left: -30px;
}
