html {
  font-size: 52px;
}

.outer, .inner, .one, .two {
  position: relative;
  padding: 20px;
}

.outer {
  z-index: 0;
}

.inner {
  z-index: 3;
}

.inner {
  background: orange;
}

.outer {
  background: green;
}

.one {
  background: red;
  bottom: 180px;
  left: 150px;
  z-index: 1;
}

.two {
  background: yellow;
  top: 40px;
  z-index: 2;
}
